<h2 mat-dialog-title>Add New Task</h2>
<mat-dialog-content>
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="task.title" required>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="task.description"></textarea>
  </mat-form-field>

  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="task.status">
      <mat-option value="To Do">To Do</mat-option>
      <mat-option value="In Progress">In Progress</mat-option>
      <mat-option value="Done">Done</mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="close()">Cancel</button>
  <button mat-raised-button class="add-button" [disabled]='!task.title' (click)="save()">Save</button>
</mat-dialog-actions>
